@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-700 bg-[#F8F8FF]
}

li {
    @apply p-2 px-2 flex justify-between items-center;
}

li:hover {
    @apply bg-gray-100
}

button:active{
    @apply scale-90
}